# Make the master table for input to modeling
Load the tables, do some transformation and then join together

In [1]:
import pandas as pd
companies = pd.read_csv("companies.csv")
reviews = pd.read_csv("reviews.csv")

In [2]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t

In [3]:
companies['iata_approved'] = _is_true(companies['iata_approved'])
companies["company_rating"] = _parse_percentage(companies['company_rating'])

NameError: name '_is_true' is not defined

In [ ]:
shuttles["d_check_complete"] = _is_true(shuttles["d_check_complete"])
shuttles['moon_clearance_complete'] = _is_true(shuttles["moon_clearance_complete"])
shuttles["price"] = _parse_money(shuttles['price'])

In [ ]:
shuttles = pd.read_excel("shuttles.xlsx")

In [ ]:
rated_shuttles = shuttles.merge(reviews, left_on="id", right_on="shuttle_id")
master_table = rated_shuttles.merge(companies, left_on="company_id", right_on="id")
master_table = master_table.dropna()

In [ ]:
import pandas as pd

def _is_true(x):
    return x == "t"

def _parse_percentage(x):
    x = x.str.replace("%", "")
    x = x.astype(float) / 100
    return x

def _parse_money(x):
    x = x.str.replace("$", '').str.replace(",", ')
    x = x.astype(float)
    return x

In [ ]:
master_table.to_csv("master_table.csv")